@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #3b4377, #acdfeb);
    padding: 10px;
}

.task-app{
    width: 100%;
    max-width: 540px;
    background: linear-gradient(135deg, #b13838, #fd9845, #f4ff5a);
    /* Forma resunida 3: - Seguindo sentido horário
    100px = top
    auto = right 
    20px = bottom
    auto = left (copiou do right) */
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px;
}

.task-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.task-app img{
    width: 45px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
}

input::placeholder{
    color: #002765;
    opacity: 0.7;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    /* * list-style: none = tira os pontinhos */
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    /* * USER-SELECT:NONE = não permite seleção do texto */
    user-select: none;
    cursor: pointer;
    position: relative;
    /* border: 1px solid black; */
    background-color: aliceblue;
    top: 10px;
}

/* * 02/10/2024 */
/* ^ Pseudo-elemento before 
^ Ele "cria" um elemento antes do LI
^ Isso quer dizer que as propriedades internas são 
^ neste elemento/tag criado via CSS */
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url('../img/desmarcado.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    transform: all 0.4s;
}

/* * A lista da lista MARCADA */
/* ! Esta classe checked será adiciona via Javascript.
! Quando a pessoa clicar para marcar como tarefa concluída  */
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

/* ^ Pseudoelemento Antes da tarefa que ESTÁ MARCADA */
ul li.checked::before{
    background-image: url('../img/marcado.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #edeef0;
}